.contain-wrap {
  padding: 30px 6vw 0;
}

.app-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: center;
}

.category-item {
  margin-bottom: 40px;
}

.category-item__title {
  text-align: left;
  font-weight: bold;
  color: #696969;
}

.category-item .app-list {
  justify-content: flex-start;
}
