.theme--dark {
  background-color: #1f2022;
}
.theme--dark .search-input {
  background-color: rgba(45, 46, 48, 0.9);
  border-color: #2a2b2d;
  color: #eee;
}
.theme--dark .filter-bar__toggle-btn {
  background-color: rgba(45, 46, 48, 0.9);
  border-color: #2a2b2d;
}
.theme--dark .filter-bar__toggle-btn:hover {
  background-color: rgba(45, 46, 48, 0.9);
  opacity: 0.8;
}
.theme--dark .cell .app {
  background-color: #27272a;
}
.theme--dark .cell .app:hover {
  background-color: rgba(39, 39, 42, 0.6);
}
.theme--dark .cell .app img {
  filter: brightness(0.8);
}
.theme--dark .cell .app img.dark-invert {
  filter: brightness(0.7) invert(0.6);
}
.theme--dark .cell .app .corner {
  background: linear-gradient(45deg, #333333 40%, #636363 50%, #1e2022 56%);
}
.theme--dark .logo {
  filter: brightness(0.6) grayscale(1);
}
.theme--dark .logo:hover {
  filter: brightness(0.8);
}
