.footer__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-top: 70px;
  font-size: 12px;
  line-height: 1.2;
  color: #787878;
}

.footer__copyright {
  text-align: left;
}

.logo {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background: url('../../assets/images/logo@144x144.png') center/cover;
  filter: grayscale(1);
  transition: .4s;
}
.logo:hover {
  filter: grayscale(0);
}
.heart {
  color: #F44336;
}
.bold {
  font-weight: bold;
}
.bener-link {
  color: currentColor;
}