.footer__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-top: 70px;
  font-size: 12px;
  line-height: 1.2;
  color: #504f4f;
}

.footer__copyright {
  text-align: left;
  opacity: 0.8;
}

.logo {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  font-size: 0;
  background: url('/favicon/favicon-512.png') center/cover;
  color: transparent;
  filter: grayscale(1);
  transition: 0.4s;
}
.logo:hover {
  filter: grayscale(0);
}
.heart {
  color: #f44336;
}
.bold {
  font-weight: bold;
}
.bener-link {
  color: #504f4f;
}
