.footer__wrap {
  user-select: none;
  margin-top: 70px;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  color: #787878;
}
.logo {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  background: url('../../assets/images/logo@144x144.png') center/22px 22px;
  filter: grayscale(1);
  transition: .3s;
}
.logo:hover {
  transition: .618s;
  filter: grayscale(0);
}
.heart {
  color: #F44336;
}
.bold {
  font-weight: bold;
}
.bener-link {
  color: currentColor;
}