* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #f6f7f9;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .3s;
  transition-property: background, color;
}

body:before {
  content: '';
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  z-index: 2019;
}

h1 {
  height: 0;
  line-height: 0;
  width: 0;
  text-indent: -99999px;
  overflow: hidden;
  visibility: hidden;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  min-height: 300px;
}

.vertical-center {
  vertical-align: middle;
}