.filter-bar {
  position: sticky;
  top: 60px;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 2019;
  color: #999;
}

.filter-bar__btn {
  display: flex;
}

.filter-bar__toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #e4e4e4;
  background: rgba(255, 255, 255, 0.7);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  backdrop-filter: blur(2px);
}

.filter-bar__toggle-btn:hover,
.filter-bar__toggle-btn:active {
  background: rgba(255, 255, 255, 0.9);
}

.filter-bar__toggle-btn .icon {
  font-size: 14px;
}

.filter-bar__toggle-btn .list-icon {
  font-size: 15px;
}

.filter-bar__input-warp {
  position: relative;
  display: block;
}

.search-input {
  outline: none;
  height: 30px;
  line-height: 30px;
  width: 80px;
  padding-left: 28px;
  padding-right: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 100px;
  font-size: 14px;
  color: #504f4f;
  background: rgba(255, 255, 255, 0.7);
  transition: 0.3s ease-out;
  backdrop-filter: blur(3px);
  /* will-change: width, background, padding; */
}

.search-input:hover {
  background: rgba(255, 255, 255, 0.9);
}

.search-input{
  width: 210px;
  /* padding-left: 15px; */
  padding-right: 28px;
}

/* .search-input:focus ~ .input-icon-wrap {
  transform: translateX(220px);
} */
/* .search-input:focus ~ .input-icon-wrap .search-icon {
  opacity: 0;
}

.search-input:focus ~ .input-icon-wrap .clear-icon {
  opacity: 1;
}
 */
.input-icon-wrap {
  position: absolute;
  top: 10px;
  left: 11px;
  border-radius: 50px;
  transform: translateX(0px);
  will-change: transform;
  transition: transform 0.3s ease-out;
}

.search-icon {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 10px;
  /* will-change: opacity; */
  transition: opacity 0.3s ease-out;
}

.clear-icon {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 15px;
  font-size: 11px;
  z-index: 10;
  /* will-change: opacity; */
  transition: opacity 0.3s ease-out;
  cursor: pointer;
}
